<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <!-- Default pattern layout for the default ConeoleAppender -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="FILE" fileName="servlet_analysis.log" filePattern="servlet_analysis.log.%i" ignoreExceptions="false">
            <PatternLayout>
                <charset>UTF-8</charset>
                <pattern>{"time": "%d{ISO8601_OFFSET_DATE_TIME_HHMM}", "level": "%level", "class":"%c", "message": "%enc{%m}", "correlationId": "%X{correlationId}"}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10000 KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>

        <RollingFile name="SSO" fileName="servlet_analysis.log" filePattern="servlet_analysis.log.%i" ignoreExceptions="false">
            <PatternLayout>
                <charset>UTF-8</charset>
                <pattern>{"time": "%d", "level": "%-5p", "eventType": "someEventType", "class":"%c", "message": "%enc{%m}", "correlationId": "%X{correlationId}", "index":"someindex",  "tid": "%X{trackingid}", "processId": "%X{processId}"}%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10000 KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Default configuration - Sets up a ConsoleAppender attached to the root logger -->
        <!--<Root level="error">
            <AppenderRef ref="Console"/>
        </Root>-->

        <Logger name="ash.servlet" level="DEBUG"/>

        <Logger name="ash.servlet.analysis.web.controller.filters.OauthFilter" level="DEBUG" additivity="false">
            <!--<AppenderRef ref="SSO" />-->
            <AppenderRef ref="CONSOLE" />
        </Logger>

        <!-- Make all loggers async and use FILE Appender-->
        <AsyncRoot level="INFO" includeLocation="false">
            <AppenderRef ref="FILE" />
            <!--<AppenderRef ref="CONSOLE" />-->
        </AsyncRoot>

    </Loggers>
</Configuration>